.right-section {
    width: 30%;
    overflow: hidden;
}

.right-section .image-carousel .wide-image img {
    width: 100%;
    border-radius: 5px;
}

.right-section .image-carousel .img-thumbnails {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.right-section .image-carousel .img-thumbnails img {
    width: 22%;
    height: 22%;
    cursor: pointer;
}

.right-section .image-carousel .img-thumbnails img.active {
    border: 1.5px solid #00AEEF;
    border-radius: 5px;
}

.right-section .updates-container {
    background: #19242F;
    padding: 20px;
    border-radius: 4px;
    overflow-y: auto;
    display: table;
    height: 100%;
}

.right-section .updates-container .updates-header {
    font-weight: 800;
    font-size: 24px;
    color: #FFFFFF;
    padding-bottom: 25px;
}

.right-section .updates-container .update {
    border-left: 1.5px solid rgba(195, 205, 215, 0.2);
    padding-bottom: 30px;
    padding-left: 15px;
    position: relative;
}

.right-section .updates-container .update:last-child {
    border: 0;
}

.right-section .updates-container .update .timeline-dot {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-5px, 0px);
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #00AEEF;
}

.right-section .updates-container .update .duration {
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.02em;
    color: #00AEEF;
    padding-bottom: 8px;
}

.right-section .updates-container .update .update-desc {
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #C3CDD7;
}

@media (min-width: 320px) and (max-width: 767px) {
    .right-section {
        width: 100%;
    }

    .right-section .image-carousel {
        display: none;
    }

    .right-section .updates-container {
        background: #05121D;
        border-radius: 0;
    }
}