.page-content {
    display: flex;
    margin-top: 60px;
    padding: 20px 65px 20px;
    background: #05121D;
    overflow-y: auto;
}

.mobile-overlay {
    width: 75%;
    height: 100%;
    display: flex;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .page-content {
        height: calc(100vh - 60px);
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .page-content {
        background: transparent;
        display: block;
        padding: 0;
    }

    .mobile-overlay {
        position: absolute;
        top: 240px;
        left: 0;
        right: 0;
        display: block;
        width: 100%;
    }
}