.header {
    background: #19242F;
    box-shadow: 0px 14px 18px rgba(0, 0, 0, 0.15);
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.header.row {
    padding: 8px 65px;
}

.header .get-app-btn {
    background: rgba(0, 174, 239, 0.15);
    border: 1.5px solid #00AEEF;
    box-sizing: border-box;
    border-radius: 100px;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .header {
        background: #05121D;
    }

    .header.row {
        padding: 8px;
    }
}