.middle-section {
    background: #19242F;
    border-radius: 4px;
    padding: 24px;
    width: 70%;
    margin: 0px 15px;
}

.middle-section .bar {
    display: none;
}

.middle-section .extreme-alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle-section .extreme-alert .title {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #FF2E79;
}

.middle-section .extreme-alert .distance {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.75);
}

.middle-section .extreme-alert .time {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    color: #00AEEF;
}

.middle-section .main-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 110%;
    color: #FFFFFF;
    padding: 20px 0px;
}

.middle-section .details {
    padding: 30px 0px;
}

.middle-section .details-title {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #00AEEF;
    padding-bottom: 5px;
}

.middle-section .details .details-desc {
    font-size: 17px;
    line-height: 135%;
    letter-spacing: 0.02em;
    color: #C3CDD7;
}

.middle-section .attachments .details-title {
    padding-bottom: 30px;
}

.middle-section .attachments .attachment-file {
    border: 1px solid rgba(195, 205, 215, 0.2);
    border-radius: 8px;
    width: max-content;
    padding: 8px 14px;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #C3CDD7;
}

.img-carousel {
    height: 180px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

/* @media (min-width: 320px) and (max-width: 480px) { */
@media (min-width: 320px) and (max-width: 767px) {
    .middle-section {
        width: 100%;
        margin: 0;
        background: #05121D;
        border-radius: 12px 12px 0px 0px;
    }

    .middle-section .extreme-alert .title {
        font-size: 19px;
    }

    .middle-section .extreme-alert .distance {
        font-size: 14px;
    }

    .middle-section .extreme-alert .time {
        font-size: 14px;
    }

    .middle-section .main-title {
        font-size: 24px;
    }

    .middle-section .details .details-desc {
        font-size: 15px;
    }

    .middle-section .attachments .attachment-file {
        background: #ffffff12;
    }

    .middle-section .bar {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%);
        display: block;
        width: 32px;
        height: 3.5px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 100px;
    }
}